
.btn {
  background: var(--color-2);
}

.btn_alt {
  background: var(--color-3);
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
}

.navbar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background: var(--color-2);
}

.navbar_logo {
  color: var(--color-4);
  font-family: var(--second-family);
  font-size: 24px;
  margin: 48px;
}

.menu {
  display: flex;
  align-items: center;
  margin: 48px;
  column-gap: 48px;
}

.menu_link {
  font-size: 18px;
}

.banner {
  display: flex;
  height: 87vh;
}

.banner_info {
  position: relative;
  margin-top: 202px;
  padding-left: 180px;
  width: 586px;
}

.banner_info::before {
  position: absolute;
  content: "";
  background-image: url(../img/arrow_r.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 90px;
}

.banner_info h1 {
  font-size: 96px;
}

.banner_info h1 span {
  color: var(--color-3);
}

.banner_button {
  display: flex;
  column-gap: 10px;
  transform: translateY(-60px);
}

.banner_img {
  position: relative;
  margin: auto auto;

}

.banner_img::before {
  position: absolute;
  content: "";
  background: url(../img/sits.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  bottom: -150px;
}

.banner_arrow {
  position: absolute;
  content: "";
  border-radius: 20%;
  background-color: var(--color-2);
  background-repeat: no-repeat;
  background-position: center;
  height: 96px;
  width: 96px;
  left: 496px;
  bottom: 64px;
}
